<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="GetBookUrl" value="https://localhost:7195/api/Book/GetBooks"/>
		<add key="LoginUrl" value="https://localhost:7195/api/Login"/>
		<add key="PostBook" value="https://localhost:7195/api/Book/PostBooks"/>
	</appSettings>
</configuration>